.entete__header{
    background-image: url("images/flocon.png");
    background-repeat: no-repeat;
    background-position: 100% 50%;
    margin-left: 30px;
}

.entete__header span{
    display: block;
}
