body {
    display: flex;
    flex-direction: column;
    font-family: 'Bungee', sans-serif;
    overflow-x: hidden;
}

.global {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 45vh;
    padding-bottom: var(--padding);
}

.global>section,
.global>header,
.global>footer {
    display: flex;
    flex-direction: column;
    //flex : grow shrink base
    flex: 0 1 var(--largeur-minimum);
    border-radius: 15px;
}

.global>header {
    flex: 0 1 1300px;
    margin-bottom: 40px;
}

#entete {
    background-color: var(--couleur-arriere-entete);
    color: var(--couleur-entete);
    position: relative;
}

#accueil {
    background-color: var(--couleur-arriere-acceuil);
    color: var(--couleur-acceuil);
    height: fit-content;
    padding-bottom: 6vh;
}

#galerie{
    background: linear-gradient(180deg, var(--couleur-arriere-acceuil), var(--couleur-arriere-evenement));
    color: var(--couleur-galerie);
    position: relative;
    z-index: 1;
}

#evenement {
    background-color: var(--couleur-arriere-evenement);
    color: var(--couleur-evenement);
    position: relative;
}

#footer {
    background-color: var(--couleur-arriere-footer);
    color: var(--couleur-footer);
}

.groupe-info {
    display: flex;
    flex-direction: column;
}

blockquote {
    background-color: rgba(255, 255, 255, 0.215);
    border-radius: 15px;
    padding: var(--padding);
    box-shadow: 2px 2px var(--couleur-acceuil);
}

blockquote footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

blockquote p::first-letter{
    font-size: 2em;
    font-weight: bold;
    color: var(--couleur-arriere-footer);
}

@media screen and (max-width: 800px){
    .evenement__section{
        margin-bottom: 30px;
        margin-left: 30px;
    }

    .footer__section, .galerie__section, .accueil__section{
        margin-left: 30px;
    }
}