body {
    display: flex;
    flex-direction: column;
    font-family: 'Bungee', sans-serif;
}

.global {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 30vh;

}

.global>section,
.global>header,
.global>footer {
    display: flex;
    flex-direction: column;
    //flex : grow shrink base
    flex: 0 1 var(--largeur-minimum);
    border: 2px rgb(255, 255, 255) solid;
    border-radius: 15px;
    transform: skew(-10deg);
    background-color: rgba(255, 255, 255, 0.35);
}

#entete {
    background-color: var(--couleur-arriere-entete);
    color: var(--couleur-entete);
}

#accueil {
    background-color: var(--couleur-arriere-acceuil);
    color: var(--couleur-acceuil);
}

#galerie{
    background-color: var(--couleur-arriere-galerie);
    color: var(--couleur-galerie);
}

#evenement {
    background-color: var(--couleur-arriere-evenement);
    color: var(--couleur-evenement);
}

#footer {
    background-color: var(--couleur-arriere-footer);
    color: var(--couleur-footer);
}
