:root {
    /*--couleur-arriere-entete : #ffea00;
    --couleur-arriere-acceuil: #3d3d3d;
    --couleur-arriere-galerie: #3d3d3d;
    --couleur-arriere-evenement:#3d3d3d;
    --couleur-arriere-footer: #00ccff;*/
    --couleur-arriere-entete : hsl(50 100% 50%);
    --couleur-arriere-acceuil: hsl(0 0% 24%);
    --couleur-arriere-galerie: hsl(0 0% 50%);
    --couleur-arriere-evenement: hsl(0 0% 24%);
    --couleur-arriere-footer: hsl(180 100% 50%);

    --couleur-entete : hsl(50 100% 20%);
    --couleur-acceuil: hsl(0 0% 15%);
    --couleur-galerie: hsl(0 0% 15%);
    --couleur-evenement: hsl(0 0% 15%);
    --couleur-footer: hsl(180 100% 15%);

    --largeur-minimum: 900px;
    --padding: 1vw;
}