// code provenant de https://codepen.io/tahazsh/pen/gOqNZyw et adapté pour le site  
  .bouncing-blob {
    width: 32vw;
    aspect-ratio: 1;
    border-radius: 50%;
    will-change: transform;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    transform-origin: left top;
  }
  
  .bouncing-blob--blue {
    background: #4783c7;
  }
  
  .bouncing-blob--white {
    background: #ffffff;
    z-index: 2;
    width: 15vw;
  }
  
  .bouncing-blob--purple {
    background: #7300ff;
  }
  
  .bouncing-blob--pink {
    background: #e289cd;
  }
  
  .bouncing-blobs-container {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: visible;
    padding: 2vh;
  }
  
  .bouncing-blobs-glass {
    position: absolute;
    z-index: 1002;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(140px);
    -webkit-backdrop-filter: blur(140px);
    pointer-events: none;
  }
  
  .bouncing-blobs {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  @media (max-width: 1200px) {
    .bouncing-blobs-glass {
      backdrop-filter: blur(120px);
      -webkit-backdrop-filter: blur(120px);
    }
  }
  
  @media (max-width: 500px) {
    .bouncing-blob {
      width: 60vw;
    }
    .bouncing-blob--white {
      width: 30vw;
    }
    .bouncing-blobs-glass {
      backdrop-filter: blur(90px);
      -webkit-backdrop-filter: blur(90px);
    }
  }