.section__cours{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}

.carte{
    border: 1px solid var(--couleur-entete);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--couleur-arriere-footer);
    width: 20vw;
    transform: skew(-10deg);
}
