.section__cours{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 3vw;
}

.carte{
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--couleur-arriere-footer);
    max-width: 20vw;
    min-width: 15vw;
    margin-left: 5px;
    transform: skew(-10deg);
    word-wrap: break-word;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}


@media screen and (max-width: 1000px){
    .section__cours{
        gap: 5vw;
        margin-right: 5vw;
        justify-content: center;
    }

    .carte{
        min-width: 200px;
        margin-left: 0px;
    }
}