// <div id="menu" class="global">
//     <div class="entete__menu">
//     // générer par wp_nav_menu()
//         <div class="menu-entete-container">
//             <ul id="menu-entete" class="menu">
//                 <li id="menu-item-33" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-33"><a href="http://localhost/4w4-yec-2024/2020/10/07/582-6n3-stage-285h/">582-6N3</a></li>
//                 <li id="menu-item-34" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-34"><a href="http://localhost/4w4-yec-2024/2020/10/07/582-5mbtechnologies-emergentes-et-avancees-volet-creation-60h/">582-5MB</a></li>
//                 <li id="menu-item-35" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-35"><a href="http://localhost/4w4-yec-2024/2020/10/07/582-5w5-projet-web-en-equipe-105h/">582-5W5</a></li>
//                 <li id="menu-item-36" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-36"><a href="http://localhost/4w4-yec-2024/2020/10/07/350-5n1-communication-et-dynamique-dune-equipe-de-travail-45h/">350-5N1</a></li>
//                 <li id="menu-item-37" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-37"><a href="http://localhost/4w4-yec-2024/2020/10/07/393-5e1-methodes-de-recherche-et-preparation-au-marche-du-travail-45h/">393-5E1</a></li>
//             </ul>
//         </div>
//     </div>
// </div>
#menu{
    width: 100vw;
    height: fit-content;
    padding: 0px;
    margin: 0;
    position: fixed;
    top: 10;
    bottom: 90;
    z-index: 100;
}

.menu-entete-container{ //div
    width: 100vw;
    height: fit-content;
}


.menu{ //ul
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--couleur-arriere-footer);
    margin: 0;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.menu-item{ //li
    transform: skew(-10deg) scale(1);
    transition: transform 0.3s ease-in-out;
    
    &:hover{
        transform: skew(-10deg) scale(1.2);
    }
}