.recherche{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.recherche__input{
    display: block;
    color: var(--couleur-footer);
}

.recherche__input::placeholder{
    color: white;
    transition: color 0.2s;
}


