.sociaux{
    display: flex;
    margin: 3vh;
    gap: 2vw;
}

.sociaux > a > svg{
    fill: var(--couleur-accent);
    transform: scale(1);
    transition: transform 0.2s, fill 0.2s;
}

.sociaux > a > svg:hover{
    fill: var(--couleur-arriere-acceuil);
    transform: scale(1.3);
}