button{
    font-size: clamp(0.667rem, -0.063rem + 3.5vw, 1.25rem);
    width: 200px;
    height: 50px;
    padding: var(--padding);
    margin-left: 30px;
    border-radius: 15px;
    border: 2px solid var(--couleur-footer);
    transform: scale(1);
    color: white;
    background: linear-gradient(0deg, var(--couleur-arriere-entete), var(--couleur-arriere-entete));
    transition: transform 0.2s;
}

button:hover{
    background: linear-gradient(0deg, var(--couleur-arriere-footer), var(--couleur-arriere-entete));
    transform: scale(1.2);
}