@keyframes diapo-aventure{
    0%{
        background-image: url("images/aventure/escalade.jpg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 15px;
    }
    20%{
        background-image: url("images/aventure/kayak.jpg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 15px;
    }
    40%{
        background-image: url("images/aventure/montagne.jpg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 15px;
    }
    60%{
        background-image: url("images/aventure/parachute.jpg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 15px;
    }
    80%{
        background-image: url("images/aventure/train.jpg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 15px;
    }
    100%{
        background-image: url("images/aventure/escalade.jpg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 15px;
    }
}

@keyframes diapo-sport{
    0%{
        background-image: url("images/sport/velo.jpg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 15px;
    }
    20%{
        background-image: url("images/sport/natation.jpg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 15px;
    }
    40%{
        background-image: url("images/sport/ski.jpg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 15px;
    }
    60%{
        background-image: url("images/sport/basket.jpg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 15px;
    }
    80%{
        background-image: url("images/sport/surf.jpg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 15px;
    }
    100%{
        background-image: url("images/sport/velo.jpg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 15px;
    }
}

@keyframes diapo-pliene-nature{
    0%{
        background-image: url("images/pliene_nature/arbres.jpg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 15px;
    }
    20%{
        background-image: url("images/pliene_nature/lac.jpg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 15px;
    }
    40%{
        background-image: url("images/pliene_nature/montagneNeige.jpg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 15px;
    }
    60%{
        background-image: url("images/pliene_nature/ocean.jpg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 15px;
    }
    80%{
        background-image: url("images/pliene_nature/route.jpg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 15px;
    }
    100%{
        background-image: url("images/pliene_nature/arbres.jpg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 15px;
    }
}

@keyframes diapo-croisiere{
    0%{
        background-image: url("images/croisiere/cotebateau.jpg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 15px;
    }
    20%{
        background-image: url("images/croisiere/grosBateau.jpg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 15px;
    }
    40%{
        background-image: url("images/croisiere/grosBateau2.jpg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 15px;
    }
    60%{
        background-image: url("images/croisiere/ville.jpg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 15px;
    }
    80%{
        background-image: url("images/croisiere/voilier.jpg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 15px;
    }
    100%{
        background-image: url("images/croisiere/cotebateau.jpg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 15px;
    }
}

@keyframes diapo-culture{
    0%{
        background-image: url("images/culture/feu.jpg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 15px;
    }
    20%{
        background-image: url("images/culture/japon.jpg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 15px;
    }
    40%{
        background-image: url("images/culture/mort.jpg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 15px;
    }
    60%{
        background-image: url("images/culture/nyc.jpg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 15px;
    }
    80%{
        background-image: url("images/culture/venise.jpg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 15px;
    }
    100%{
        background-image: url("images/culture/feu.jpg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 15px;
    }
}

@keyframes diapo-repos{
    0%{
        background-image: url("images/repos/bateauRepos.jpg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 15px;
    }
    20%{
        background-image: url("images/repos/gazon.jpg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 15px;
    }
    40%{
        background-image: url("images/repos/pied.jpg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 15px;
    }
    60%{
        background-image: url("images/repos/quai.jpg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 15px;
    }
    80%{
        background-image: url("images/repos/singe.jpg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 15px;
    }
    100%{
        background-image: url("images/repos/bateauRepos.jpg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 15px;
    }
}

@keyframes diapo-zen{
    0%{
        background-image: url("images/zen/fleur.jpg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 15px;
    }
    20%{
        background-image: url("images/zen/maison.jpg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 15px;
    }
    40%{
        background-image: url("images/zen/roche.jpg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 15px;
    }
    60%{
        background-image: url("images/zen/temple.jpg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 15px;
    }
    80%{
        background-image: url("images/zen/tori.jpg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 15px;
    }
    100%{
        background-image: url("images/zen/fleur.jpg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 15px;
    }
}