@keyframes diapo-aventure{
    0%{
        background-image: url("images/aventure/escalade.jpg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 15px;
    }
    20%{
        background-image: url("images/aventure/kayak.jpg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 15px;
    }
    40%{
        background-image: url("images/aventure/montagne.jpg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 15px;
    }
    60%{
        background-image: url("images/aventure/parachute.jpg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 15px;
    }
    80%{
        background-image: url("images/aventure/train.jpg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 15px;
    }
    100%{
        background-image: url("images/aventure/escalade.jpg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 15px;
    }
}

@keyframes diapo-sport{
    0%{
        background-image: url("images/sport/velo.jpg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 15px;
    }
    20%{
        background-image: url("images/sport/natation.jpg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 15px;
    }
    40%{
        background-image: url("images/sport/ski.jpg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 15px;
    }
    60%{
        background-image: url("images/sport/basket.jpg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 15px;
    }
    80%{
        background-image: url("images/sport/surf.jpg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 15px;
    }
    100%{
        background-image: url("images/sport/velo.jpg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 15px;
    }
}

@keyframes diapo-pliene-nature{
    0%{
        background-image: url("images/pliene_nature/arbres.jpg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 15px;
    }
    20%{
        background-image: url("images/pliene_nature/lac.jpg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 15px;
    }
    40%{
        background-image: url("images/pliene_nature/montagneNeige.jpg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 15px;
    }
    60%{
        background-image: url("images/pliene_nature/ocean.jpg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 15px;
    }
    80%{
        background-image: url("images/pliene_nature/route.jpg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 15px;
    }
    100%{
        background-image: url("images/pliene_nature/arbres.jpg");
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 15px;
    }
}