:root {
    --couleur-arriere-entete : #ffea00;
    --couleur-arriete-acceuil: #3d3d3d;
    --couleur-arriere-galerie: #3d3d3d;
    --couleur-arriere-evenement:#3d3d3d;
    --couleur-arriere-footer: #00ccff;
}